<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OpenTok AF14 Codec Demo</title>
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div class="content">
    <header class="info">
      <h2>OpenTok AF14 Codec Demo</h2>
    </header>
    <div class="left panel">
      <h3 class="panel-label">Publisher</h3>
      <div id="publisher"></div>
    </div>
    <div class="control panel" id="control">
      <h3 class="panel-label">Controls</h3>
      <button id="connect">Connect</button>
      <p class="stat" id="streamCount">Streams: 0</p>
      <p class="stat" id="connectionCount">Connections: 0</p>
    </div>
    <div class="right panel">
      <h3 class="panel-label">Subscribers</h3>
      <div id="subscribers"></div>
    </div>
  </div>
  <script type="text/javascript">
      var apiKey = '<%= apiKey %>';
      var sessionId = '<%= sessionId %>';
      var token = '<%= token %>';
  </script>
  <script src="/js/af14.js"></script>
  <script src="/js/demo.js"></script>
</body>
</html>
