* { box-sizing: border-box }

body {
  background: url(/img/triangular_blue.png);
  font-family: 'Metrophobic', sans-serif;
}

h2 {
  color: white;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #999;
}

.content {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.info h2 {
  text-align: center;
}

.panel {
  width: 320px;
  height: 310px;
  position: absolute;
  top: 4em;
  border: 3px solid rgba(1, 1, 1, 0.5);
  padding: 0.5em 1em;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.5);
}

.panel-label {
  text-align: center;
  color: white;
}

.left {
  left: 0;
}
.control {
  left: 325px;
  background: rgba(127,127,127,0.5);
  text-align: center;
}
.right {
  left: 650px;
}

.control button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#ededed;
  border-radius: 6px;
  border:1px solid #dcdcdc;
  color:#777777;
  font-family: 'Metrophobic', sans-serif;
  font-size:20px;
  height:40px;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  display:block;
  width: 280px;
  margin-bottom: 1em;
}

.control .stat {
  font-size: 1.1em;
}

.share {
  color: #00aeef;
  font-weight: bold;
  font-size: 1.1em;
}

.notes {
  position:relative;
  top: 320px;
  text-align: center;
}

#publisher, #subscribers {
  text-align:center;
}

#subscribers {
  height: 215px;
  overflow: scroll;
}

#publisher .OT_publisher,
#subscribers .OT_subscriber {
  display: none;
}

.af14 {
  background-color: #000;
  color: #fff;
}

#publisher .af14 {
  width: 264px;
  height: 198px;
}

#subscribers .af14 {
  display: inline-block;
  width: 132px;
  height: 99px;
}

